<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>2008年，在大学学习 Java 编程，顺带打打游戏，约约会。</p>
        <p>2010年-2013年，南下苏州打拼，从一名籍籍无名的程序员，蜕变为一名能打天下的 Team Leader。</p>
        <p>2014年，杀回洛阳，一个人扛起公司的所有技术，开启创业之路。</p>
        <p>2015年，开始在 <a href="https://blog.csdn.net/qing_gee">CSDN 写博客</a>，年末成为博客专家。</p>
        <p>2019年4月份，出版<a href="http://product.dangdang.com/27484770.html">《Web全栈开发进阶之路》</a>。</p>
        <p>2019年11月份，微信公众号<a href="https://mp.weixin.qq.com/s/feoOINGSyivBO8Z1gaQVOA">沉默王二</a>突破一万读者。</p>
        <p>我最喜欢的一句话是：没有什么可以使我停留，除了目的，纵然岸边有绿荫，有宁静的港湾，我是不系之舟。</p>
        <p>我是沉默王二，一个文章真特么有趣的程序员！</p>

         <p>
          <strong>个人公众号</strong>：<a href="http://www.itwanger.com/assets/images/itwanger.jpg" target="_blank">沉默王二（ID：cmower）</a>，“分享技术、感悟人生”，欢迎关注
        </p>



        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>我的微信：<strong>qing_gee</strong>（备注：博客）</li>
        </ul>

        <p><strong>Group</strong></p>
        <p><em>创建了一些便于交流的微信群，大家如果有兴趣可以加入，请不要重复入群！加入方式：关注<a href="http://www.itwanger.com/assets/images/qing_gee.jpg" target="_blank">沉默王二</a>公众号：，回复关键字<strong>加群</strong></em></p>

       <ul>
            <li>读者</li>
        </ul>

        <p><em>喜欢 QQ 的可以入群（<strong>120926808</strong>）交流 IT 人的技术与生活</em></p>

       <h2>
         Note
       </h2>

        <p>
         自从写博客开始，开始陆续有一些机会和同行在线上交流，但是也遇到了一些困惑，有的朋友加我之后，直接就抛出一堆错误日志，有的上来默不作声，有的更是质疑不断... 当然更多的是一些友善、有乐趣的朋友。
       </p>

        <p> 大家的时间都很宝贵，为了更高效的交流，我希望您可以这样</p>

       <ul>
         <li>请先自我介绍一下，您在那家公司，做什么工作，怎么称呼？希望和您交流什么？任何深入的交流都是建立在相互了解之上。
        </li>
        <li>如果是您的项目报错这类问题，我真的爱莫能助，大部分的情况错误信息都是需要根据本项目或者业务去调试的，仅有很少的一部分通过日志就可以定位到问题，当然这种错误网上应该都会有解决方案。
        </li>
         <li>如果您想和我交流框架、性能优化这种大问题，因为太大我不知道从何说起，比如：上来就问 Spring Boot/Hadoop 并发量支持多少的这类问题，真对不起，本人才疏学浅真的爱莫能助，问题越具体交流越有效。
        </li>
        <li> 我不一定能及时回复您，加我之后有问题尽请直说，不用问“在吗”之类的问题，当我闲下来的时候，每个人的留言，我都会尽量去回复。
        </li>
        <li> 
          欢迎转载，请在文章页面明显位置给出原文连接，否则保留追究法律责任的权利；如在微信公众号转载请务必附上<a href="http://www.ityouknow.com/assets/images/itwanger.jpg" target="_blank">博客公众号二维码</a>，谢谢。
        </li>
      </ul>

       <p>
        最后，还是感谢您在茫茫人海中阅读了我的文章。
       </p>

       <h2>
         Donate
       </h2>

       <p>本站所有文章和源码均免费开放，您如果喜欢可以赞助，赞助仅表示对文章的赞赏与支持，并不会受到特殊的待遇。如果我的文章帮助或者触动了你，可以自愿赞赏我6.66元吃一个肉夹膜:)
       </p>

       <p align="center">
         <img src="http://www.itwanger.com/assets/images/tip.jpg" />
         <br/> 
         微信扫一扫
       </p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>
