<div>
   <p align="center">
         	  {% if page.copyright %}
             <img src="http://www.machengyu.net/assets/images/{{ page.copyright }}.jpg" >
            {% else %}
             <img src="http://www.machengyu.net/assets/images/code_monkey.jpg" >
            {% endif %}
         <br/>
          放个图片占位置
   </p>
   <p align="center" style="margin-top: 15px; font-size: 11px;color: #cc0000;">
       <strong>（转载本站文章请注明作者和出处 <a href="http://www.machengyu.net">思无邪-machengyu</a>）</strong>
   </p>
</div>